.caption {
    caption-side: bottom;
    align-items: center;
    color: black;
    font-size: 2rem;
  }
  .captBox {
    width: 100%;
  }
  .color {
    color: darkred;
  }
  
  .center-cells {
    td {
      text-align: center;
    }
  }
  .border
  {
    background:  #f8f9fa;
    padding: 1rem 0.8rem;
    border-radius: 0.7rem;
  }
  