<div class="modal fade" id="editSupplier" tabindex="-1" vehicleType="dialog" aria-labelledby="editSupplier"
  aria-hidden="true">
  <div class="modal-dialog" vehicleType="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редагувати постачальника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]=supplierForm>
          <div class="form-group">
            <label class="required-field">Коротка назва</label>
            <input type="text" class="form-control" formControlName="name" autocomplete="off" />
          </div>
          <div class="form-group">
            <label class="required-field">Повна назва</label>
            <input type="text" class="form-control" formControlName="fullName" autocomplete="off" />
          </div>
          <div class="form-group">
            <label class="required-field">ЄДРПОУ</label>
            <input type="text" class="form-control" formControlName="edrpou" autocomplete="off" />
          </div>
          <div class="form-group">
            <label>Країна</label>
            <ng-select
              formControlName="country"
              [items] = "countries"
              bindLabel = "name"
              placeholder = "Виберіть Країну"
              notFoundText = "Не знайдено">
            </ng-select>
          </div>
          <div class="form-group">
            <label>Валюта</label>
            <ng-select
              formControlName="currency"
              [items] = "currencies"
              bindLabel = "fullName"
              placeholder = "Виберіть Валюту"
              notFoundText = "Не знайдено">
            </ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Скасувати</button>
        <button type="button" class="btn btn-primary" (click)="updateData()" [disabled]="supplierForm.invalid">Зберегти</button>
      </div>
    </div>
  </div>
</div>