<app-navbar></app-navbar>
<div class="container page ">
  <div class="border d-none d-md-flex ">
    <nav class="nav nav-tabs " id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/analyst/issues"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-book-open"></i> Заявки</a
      >
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/analyst/report"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-clipboard"></i> Звіт</a
      >
      
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/analyst/charts"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-chart-pie"></i> Діаграми </a
      >

      <a
        class="nav-item nav-link"
        routerLink="/analyst/dictionary"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-globe"></i> Довідники</a
      >

      <a
        class="nav-item nav-link"
        routerLink="/analyst/documents"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fa fa-folder-open"></i> Документи</a
      >
      <a
      class="nav-item nav-link"
      routerLink="/analyst/supplier"
      routerLinkActive="active"
      data-toggle="tab"
      role="tab"
      aria-selected="false"
    >
      <i class="fas fa-address-card"></i> Постачальники</a
    >
    </nav>
  </div>

  <app-breadcrumb></app-breadcrumb>

  <div class="tab-content">
    <div class="tab-pane fade show active " role="tabpanel" aria-labelledby="nav-home-tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
