<div class="table-background border">
  <ng-template #issueNotSelected>
    <div class="alert alert-warning" role="alert">
      Останнім часом ви не переглядали жодної заявки.
    </div>
    <a class="btn btn-primary" [routerLink]="['/engineer/issue']">
      Переглянути заявки
    </a>
  </ng-template>
  <ng-container *ngIf="issue.vehicle.inventoryId; else issueNotSelected">
  <div class="row">
    <div class="form-group col-sm-12 col-md-4">
      <label for="vehicleDisInput">Транспорт</label>
      <div class="form-control" id="vehicleDisInput">
        {{
          issue?.vehicle?.inventoryId || '' + ' ' + issue?.vehicle?.vincode || '' + ' ' + issue?.vehicle?.regNum || ''
        }}
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <label for="stateDisInput">Статус</label>
      <div class="form-control" id="stateDisInput">
        {{ issue?.state?.transName || '' }}
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <label for="modDisInput">Редаговано</label>
      <label class="form-control" id="modDisInput">{{ formatedDate(issue.updatedDate) }}</label>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-12">
      <label for="summaryDisInput">Опис</label>
      <textarea [(ngModel)]="issue.summary" class="form-control" id="summaryDisInput"> </textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-4">
      <label>Група несправності</label>
      <ng-select
        [(ngModel)]="currentMalfunctionGroup"
        (ngModelChange)="selectGroup()"
        [items]="malfunctionGroupList"
        bindLabel="name"
        placeholder="Група несправності"
        notFoundText="Не знайдено"
      ></ng-select>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <label>Підгрупа несправності</label>
      <ng-select
        [(ngModel)]="currentMalfunctionSubgroup"
        [items]="malfunctionSubGroupFilteredList"
        (ngModelChange)="selectSubgroup()"
        bindLabel="name"
        placeholder="Підгрупа несправності"
        notFoundText="Не знайдено"
        [disabled]="!currentMalfunctionGroup"
      ></ng-select>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <label>Несправність</label>
      <ng-select
        [(ngModel)]="currentMalfunction"
        [items]="malfunctionFilteredList"
        (ngModelChange)="selectMalfunction()"
        bindLabel="name"
        placeholder="Несправність"
        notFoundText="Не знайдено"
        [disabled]="!currentMalfunctionSubgroup"
      ></ng-select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label>Приорітет</label>
      <ng-select
        [items]="priorityList"
        [(ngModel)]="priorityList[issue.priority]"
        (change)="selectPriority($event)"
        placeholder="Виберіть приорітет"
        notFoundText="Не знайдено"
      ></ng-select>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="warrantyDisInput">Гарантія</label>
      <input
        type="number"
        class="form-control"
        (ngModelChange)="selectWarranty()"
        [(ngModel)]="issue.warranty"
        min="0"
        max="1"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label for="assigneeDisInput">Відповідальний</label>
      <div class="form-control" id="assigneeDisInput">
        {{ issue?.assignedTo?.shortName }}
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="deadlineDisInput">Виконати до</label>
      <div class="form-control" id="deadlineDisInput">
        {{ formatedDate(issue.deadline) }}
      </div>
    </div>
  </div>
  <div style="margin-bottom: 12px;">
    <a class="btn btn-primary" [routerLink]="['/engineer/issue-logs/edit']" (click)="createHandler()">
      Обробка
    </a>
    <a class="btn btn-primary align-self-end" style="color: white;float: right;" (click)="updateIssue()">
      Зберегти заявку
    </a>
  </div>  
  <app-nested-issue-logs [issue]="issue"></app-nested-issue-logs>
  </ng-container>
</div>
