<h1 style="text-align:center">Документи</h1>
  <span><app-create-document (createDocument)="addDocument($event)" *ngIf="isVisible"></app-create-document></span>
  <span class="second">
    <app-edit-document [document]="selectedDocument" (editDocument)="editDocument($event)" *ngIf="isVisible"></app-edit-document>
  </span>
  <span class="third">
    <app-delete-document [document]="selectedDocument" (deleteDocument)="deleteDocument($event)" *ngIf="isVisible"></app-delete-document>
  </span>
  <p></p>
  <table id="document-table" class="table table-bordered  table-hover" style="width:100%;" cellspacing="0"></table>