<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#createEmployee">
  <i class="fas fa-plus"></i> {{'Admin.Employee.Create.Title' | translate}}
</button>

<!-- Modal -->
<div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-labelledby="createEmployee" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{'Admin.Employee.Create.Title' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeForm" (submit)="onSubmit()">
                    <div class="form-group" [customErrorMessages]="customFieldErrors">
                        <label class="required-field">{{'Admin.Employee.BoardNumber' | translate}}</label>
                        <input type="number" min="1" max="1000000000" placeholder="Введіть табельний номер" class="form-control" formControlName="boardNumber" />
                    </div>
                    <div class="form-group" [customErrorMessages]="customFieldErrors">
                        <label class="required-field">{{'Admin.Employee.LastName' | translate}}</label>
                        <input type="text" class="form-control" formControlName="lastName" />
                    </div>
                    <div class="form-group" [customErrorMessages]="customFieldErrors">
                        <label class="required-field">{{'Admin.Employee.FirstName' | translate}}</label>
                        <input type="text" class="form-control" formControlName="firstName" />
                    </div>
                    <div class="form-group" [customErrorMessages]="customFieldErrors">
                        <label class="required-field">{{'Admin.Employee.MiddleName' | translate}}</label>
                        <input type="text" class="form-control" formControlName="middleName" />
                    </div>
                    <div class="form-group" [customErrorMessages]="customFieldErrors">
                        <label class="required-field">{{'Admin.Employee.ShortName' | translate}}</label>
                        <input type="text" class="form-control" formControlName="shortName" />
                    </div>
                    <div>
                        <label class="required-field">{{'Admin.Employee.Post' | translate}}</label>
                        <select class="form-control" formControlName="post">
              <option value="" selected>{{'Admin.Employee.Create.ChoosePost' | translate}}</option>
              <option *ngFor="let post of posts" [ngValue]="post">{{ post.name }}</option>
            </select>
                    </div>
                    <button hidden type="submit" #submit></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()" data-toggle="modal" data-target="#createEmployee">
                    {{'Core.FormButtons.Cancel' | translate}}
        </button>
                <button type="button" class="btn btn-primary" (click)="clickSubmit(submit)" form="employeeForm" [disabled]="employeeForm.invalid" data-toggle="modal" data-target="#createEmployee">
                    {{'Core.FormButtons.Create' | translate}}
        </button>
            </div>
        </div>
    </div>
</div>