<div class="border">
  <h1 style="text-align:center">Вибраний документ</h1>
  <!-- <table id="nested-document-table" class="table table-bordered  table-hover" style="width:100%;" cellspacing="0"></table> -->
  
  <div class="container-fluid">
      <div class="row">
        <div class="form-group col-sm-12 col-md-4">
          <label for="stateDisInput">Назва</label>
          <div class="form-control" id="stateDisInput">
            {{ chosenDocument?.name || '' }}
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-4">
          <label for="warrantyDisInput">Творець</label>
          <div class="form-control" id="warrantyDisInput">
            {{ chosenDocument?.mod.userName || '' }}
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-4">
          <label for="malfunctionDisInput">Дата змінення</label>
          <div class="form-control" id="malfunctionDisInput">
            {{ chosenDocument?.updatedDate || '' }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12">
          <label for="summaryDisInput">Опис</label>
          <div class="form-control" id="summaryDisInput">
            {{ chosenDocument?.description }}
          </div>
        </div>
      </div>
    </div>
  </div>