<div class="modal fade" id="editLocation" tabindex="-1" location="dialog" aria-labelledby="EditLocation"
  aria-hidden="true">
  <div class="modal-dialog" location="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'Admin.Location.Edit'| translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]=locationForm>
          <div class="form-group">
            <label>{{'Admin.Location.Name'| translate}}</label>
            <input type="text" placeholder="{{'Admin.Location.EnterName'| translate}}" class="form-control" formControlName="name" autocomplete="off" />
          </div>

          <div class="form-group">
            <label>{{'Admin.Location.Description'| translate}}</label>
            <textarea type="text" placeholder="{{'Admin.Location.EnterDescription'| translate}}" class="form-control" formControlName="description"
               autocomplete="off"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal">{{'Admin.Location.Cancel'| translate}}</button>
        <button type="button" class="btn btn-primary" (click)="updateData()">{{'Admin.Location.Save'| translate}}</button>
      </div>
    </div>
  </div>
</div>