<div class="table-background border">
  <app-filters-tabs *ngIf="isEngineer || isAnalyst"
    (Filters) = "setFilters($event)"
    (ApplyFilters) = "refreshTable()">
  </app-filters-tabs>
  
  <div class="top-container">
    <mat-form-field>
      <input matInput [maxLength]="255" placeholder="{{'Issue.search' | translate}}:" #input>
    </mat-form-field>

    <div class="general-content-container">
      <ng-container *ngIf="isRegister">
        <app-create-issue (addIssue)="refreshTable()"></app-create-issue>
        <app-issue-details [issue]="selectedIssue"></app-issue-details>
        <app-delete-issue [issue]="selectedIssue" (deleteIssue)="refreshTable()"></app-delete-issue>
      </ng-container>
      
      <ng-container *ngIf="isEngineer || isAnalyst">
        <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'Issues'})">Excel</button>
        <button mat-raised-button (click)="exporter.exportTable('csv', {fileName:'Issues'})">Csv</button>
        <button mat-raised-button (click)="exporter.exportTable('json', {fileName:'Issues'})">Json</button>
        <button mat-raised-button (click)="exporter.exportTable('txt', {fileName:'Issues'})">Txt</button>
      </ng-container>
    </div>
  </div>
  
  

  <div class="scroll-container">
    <table mat-table [dataSource]="dataSource" matSort
      matTableExporter #exporter="matTableExporter">
  
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.number' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.state' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.state.transName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="malfunctionGroup">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.malfunctionGroup' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.malfunction.malfunctionSubgroup.malfunctionGroup.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="malfunctionSubgroup">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.malfunctionSubgroup' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.malfunction.malfunctionSubgroup.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="malfunction">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.malfunction' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.malfunction.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.priority' | translate}} </th>
        <td mat-cell *matCellDef="let row">
          {{priority[row.priority]}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="warranty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.warranty' | translate}} </th>
        <td mat-cell *matCellDef="let row"> 
          <ng-container *ngIf="row.warranty; else notWarranty"><i class="fas fa-check"></i></ng-container>
          <ng-template #notWarranty><i class="fas fa-times"></i></ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.vehicle' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.vehicle.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.assignee' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.assignedTo.login}} </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.deadline' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.deadline}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.Columns.location' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{ row.vehicle.location ? row.vehicle.location.name : "  " }} </td> <!--row.vehicle.location.name-->
      </ng-container>
  
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.summary' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.summary}} </td>
      </ng-container>
  
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.created' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.createdDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issue.Columns.updated' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.updatedDate}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'Issue.actions' | translate}} </th>
        <td mat-cell *matCellDef="let row">
  
          <ng-container *ngIf="isRegister">
            <button (click)="selectedIssue=row" class="btn" data-toggle="modal" data-target="#issueDetails">
              <i class="fas fa-info-circle"></i>
            </button>

            <button *ngIf="row.deletable" (click)="selectedIssue=row" class="btn" data-toggle="modal" data-target="#deleteIssue">
              <i class="fas fa-trash-alt"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isEngineer">
            <button class="btn">
              <i class="fas fa-info-circle" (click)="selectIssue(row)"></i>
            </button>
          </ng-container>
          
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row 
        [ngClass]="{'high-priority': row.priority == 0, 'medium-priority': row.priority == 1, 'low-priority': row.priority == 2}"
        *matRowDef="let row; columns: columnsToDisplay;">
      </tr>
    </table>
  </div>
  
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>