<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createDocument">
  <i class="fas fa-plus"></i> Створити документ
</button>

<div class="modal fade" id="createDocument" tabindex="-1" role="dialog" aria-labelledby="CreateDocument" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-plus"></i> Створити документ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="documentForm">
                    <div class="form-group">
                        <label class="required-field">Назва</label>
                        <input type="text" class="form-control" formControlName="name" autocomplete="off" placeholder="Введіть назву документа" />
                    </div>
                    <button hidden type="submit" #submit></button>
                </form>
                <form [formGroup]="documentForm">
                    <div class="form-group">
                        <label class="required-field">Опис</label>
                        <textarea type="text" class="form-control" formControlName="description" autocomplete="off" placeholder="Введіть опис документа"></textarea>
                    </div>

                    <button hidden type="submit" #submit></button>
                </form>
                <form [formGroup]="documentForm">
                    <div class="form-group">
                        <label class="required-field">Дата</label>
                        <input type="date" class="form-control" formControlName="newDate" autocomplete="off" placeholder="Введіть дату документа" />
                    </div>
                    <button hidden type="submit" #submit></button>
                </form>
                <form [formGroup]="documentForm">
                    <div class="form-group" [customErrorMessages]="CustomPDFErrorMessages">
                        <label hidden>Документ</label>
                        <input #fileInput type="file" formControlName="file" class="btn border" accept="application/pdf" />
                    </div>
                    <button hidden type="submit" #submit></button>
                </form>
            </div>
            <div class="modal-footer">
                <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-primary" (click)="clickSubmit()" [disabled]="documentForm.invalid">
          Створити
        </button>
            </div>
        </div>
    </div>
</div>