<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createDocument">
  <i class="fas fa-plus"></i> Додати документ
</button>

<div class="modal fade" id="createDocument" tabindex="-1" role="dialog" aria-labelledby="CreateDocument" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> <i class="fas fa-plus"></i> Додати документ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <app-issue-log-documents [idSelectDisabled]="!!documentForm.value.name || !!documentForm.value.description" (selectDocument)="selectExisting($event)"></app-issue-log-documents>
        </div>
        <form [formGroup]="documentForm">
          <div class="form-group">
            <label>Назва</label>
            <input type="text" class="form-control" formControlName="name" autocomplete="off"
                   placeholder="Введіть назву документа" >
          </div>
          <button hidden type="submit" #submit></button>
        </form>
        <form [formGroup]="documentForm">
          <div class="form-group">
            <label>Опис</label>
            <input type="text" class="form-control" formControlName="description" autocomplete="off"
                   placeholder="Введіть опис документа" >
          </div>
          <button hidden type="submit" #submit></button>
        </form>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-primary" (click)="clickSubmit()" [disabled]="documentForm.invalid">
            Додати
        </button>
      </div>
    </div>
  </div>
</div>