<app-navbar></app-navbar>
<div class="container page">
    <div class="border d-none d-md-flex ">
        <nav class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link" routerLink="/admin/users" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-users"></i> {{'Routing.users' | translate}} </a>
            <a class="nav-item nav-link" routerLink="/admin/vehicles" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-bus"></i> {{'Routing.vehicles' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/vehicle-types" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-truck-monster"></i> {{'Routing.vehicle-types' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/malfunctions" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-exclamation-triangle"></i> {{'Routing.malfunctions' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/actions" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-file-contract"></i> {{'Routing.actions' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/supplier" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-people-carry"></i> {{'Routing.supplier' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/documents" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fa fa-folder-open"></i> {{'Routing.documents' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/dictionary" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-book"></i> {{'Routing.dictionary' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/workTypes" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fa fa-wrench"></i>{{'Routing.workTypes' | translate}}
            </a>
            <a class="nav-item nav-link" routerLink="/admin/employees" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-user-cog"></i> {{'Routing.employees' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/posts" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-address-card"></i>{{'Routing.posts' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/locations" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-map-marked-alt"></i> {{'Routing.locations' | translate}}</a>
            <a class="nav-item nav-link" routerLink="/admin/parts" routerLinkActive="active" data-toggle="tab" role="tab">
                <i class="fas fa-cogs"></i> {{'Routing.parts' | translate}}</a>
        </nav>
    </div>

    <app-breadcrumb></app-breadcrumb>

    <div class="tab-content mb-5">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>